
  body{
    background-color: black;
    color: white;
    font-family: 'Bellota', cursive;
}

.row{
    margin-top: 2%;
    margin-left: 26%;
    text-align: center;
}

h1{
    text-align: center;
  
}

.new{
    margin-top: 100px;
    width: 30%;
    height: 40%;
    text-align: center;
    margin-left: 30%;
}